@import url("src/assets/card-symbols.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(https://images.ctfassets.net/s5n2t79q9icq/2Jm6ugiK55THfkQcmf5M3S/4d5fa29c82b17e91d80473f4766ea5f1/WOTC_C07_LCI_WebsiteAssets_1920x1050_Static.jpg?q=80&w=1920&h=1050&fit=crop&f=center&fm=avif);
  background-attachment: fixed;
  background-size: cover;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .backface-visible {
    backface-visibility: visible;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .card-symbol {
    display: inline-block;
    margin: 1px 1px -1px 1px;
    border-radius: 500px;
    box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.85);
    text-indent: -999em;
    overflow: hidden;
    width: 15px;
    height: 15px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: top left;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    cursor: help;
  } /* more symbols in card-symbols.css */
}
